# Ignore Gradle build output directory
**/.gradle

**/gradlew*

!**/gradle-wrapper.jar

**/build

**/*.jar
**/*.bat
**/*.txt

# intellij files
**/build-idea/
**/.idea/

**/*.iml
**/*.ipr
**/*.iws
**/*.gpg
**/*.pub
